<mat-card class="mat-card">
  <mat-card-content>
      <mat-card-header>
        <mat-card-title><strong>Change details</strong></mat-card-title>
      </mat-card-header>
    <div class="form-container">
    <mat-form-field>
        <textarea matInput disabled="true" placeholder="Name">{{ name }}</textarea>
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Full Name"></textarea>
      </mat-form-field>
    
      <mat-form-field>
          <textarea matInput placeholder="Email"></textarea>
        </mat-form-field>

       
            <button matButton>
                <mat-icon>send</mat-icon>
            </button> 
       
    </div>
    </mat-card-content>
</mat-card>